<div class="main-container">
  <h1>{{ main.title }}</h1>
  <p>{{ main.description }}</p>
  <h2>{{main.titleChocobo}}</h2>
  <img src="{{main.chocobo.src}}" alt="{{main.chocobo.alt}}">
  <p>Una raza de aves no voladoras, caracterizada por sus plumas amarillas, olor distintivo y el inolvidable chirrido, "kweh!" Domesticados por su naturaleza suave y pies rápidos, a menudo se utilizan como medio de transporte terrestre.
      ¡Cuidado con enfadarles!
  </p>
  <div *ngIf="main.button == '¡Enfadar al chocobo!'">
    <h1>Chocobo Feliz</h1>
    <img src="{{main.happychocobo.src}}" alt="{{main.happychocobo.alt}}">
    <button (click)="onClickButton()">{{main.button}}</button>
</div>

<div *ngIf="main.button == '¡Calmarlo!'">
    <h1>Chocobo enfadado</h1>
    <img src="{{main.angrychocobo.src}}" alt="{{main.angrychocobo.alt}}">
    <button (click)="onClickButton()">{{main.button}}</button>
</div>
</div>


