<div class="main-container">
  <h1>{{ main.title }}</h1>
  <p>{{ main.description }}</p>
  <h2>{{ main.titleChocobo }}</h2>
  <img src="{{ main.chocobo.src }}" alt="{{ main.chocobo.alt }}" />
  <p>
    Una raza de aves no voladoras, caracterizada por sus plumas amarillas, olor
    distintivo y el inolvidable chirrido, "kweh!" Domesticados por su naturaleza
    suave y pies rápidos, a menudo se utilizan como medio de transporte
    terrestre. ¡Cuidado con enfadarles!
  </p>

  <div class="button" *ngIf="main.button == '¡Enfadar al chocobo!'">
    <p>Chocobo Feliz</p>
    <img src="{{ main.happychocobo.src }}" alt="{{ main.happychocobo.alt }}" />
    <button (click)="onClickButton()">{{ main.button }}</button>
  </div>

  <div class="button" *ngIf="main.button == '¡Calmarlo!'">
    <p>Chocobo enfadado</p>
    <img src="{{ main.angrychocobo.src }}" alt="{{ main.angrychocobo.alt }}" />
    <button (click)="onClickButton()">{{ main.button }}</button>
  </div>
  <h2>Invocaciones</h2>
  <p>
    Son criaturas poderosas que, normalmente, pueden ser llamadas al combate
    para que luchen por sus invocadores. La naturaleza exacta de las
    invocaciones varía a lo largo de los títulos, llegando a aparecer en
    algunos juegos como una tribu de criaturas o incluso como deidades, por
    tanto su papel en la historia de los juegos también ha ido variando con el
    tiempo.
  </p>
  <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2016/02/566826-mejores-invocaciones-final-fantasy.jpg?itok=PLNklU8F" alt="Invocacion">

  <div>
    <h2>Moguris</h2>
    <p>
      Su apariencia es similar a la de un gato humanoide, habitualmente de color
      blanco, con alas de pequeño tamaño y color rojo o púrpura y una antena
      sobre su cabeza que termina en una bola roja (pompón). Sus orejas son
      similares a las de un gato o un perro. Emplean habitualmente como
      coletilla la palabra «kupó». Su comida favorita son las nueces de kupó
      (Kupo Nut en inglés) y podría ser la razón por la cual continuamente usen
      la palabra «kupó» en sus diálogos.
    </p>

    <div class="father">
      <div class="fatherInput">
        <h3>¡Dile algo al Moguri!</h3>
        <input class="input" #father (keyup)="onKeyUp(father.value)" />
      </div>
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4TsTixtSIStxcYVoMDB-1Tulsm8gJF2NLxg&usqp=CAU"
        alt="Moguri"
      />

      <p>{{ messageSon }}</p>
    </div>
    <div>
      <app-son [messageSon]="messageFather" (emitMessage)="setMessage($event)">
      </app-son>
    </div>
  </div>
  
